:root{
    --blue: #2C347E;
    --dark: #010718;
    --white: #FFF;
    --gray: #F5FAFE;
    --orange: #E16127;
    --blur-o: rgba(44, 52, 126,0.1);
    --light-blue: #E4EEF7;
    --light-orange: #FFF1E4;
}
@font-face {
    font-family: heading_bangla_font;
    src: url('../fonts/LiNiladriRongtuliUnicode-Regular.ttf') format('truetype');
}
@font-face {
    font-family: paragraph_bangla_font;
    src: url('../fonts/PotroSansBangla-Regular.ttf') format('truetype');
}
.font-heding{
    font-family: heading_bangla_font;
}
.font-paragraph{
    font-family: paragraph_bangla_font;
}
*{
	font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
p{
    color: var(--dark);
}
.section-head h2{
    color: var(--blue);
    font-weight: 600;
}
.section-head span{
    background: var(--orange);
    width: 80px;
    height: 5px;
    display: inline-block;
}
.text-brand-1{
    color: var(--orange);
}
.top-nav{
	background: var(--blue);
}
.top-nav a{
	text-decoration: none;
	color: var(--white);
}
.top-nav i{
	text-decoration: none;
	color: var(--white);
}
.top-nav .social-icons li{
	list-style: none;
	color: var(--white);
}
.top-nav .social-icons li a{
	font-size: 17px;
}
nav{
    /*position: fixed;*/
    top: 0;
    left: 0;
    /*height: 80px;*/
    width: 100%;
    background-color: var(--white);
    z-index: 100;
}
nav .nav-bar{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--white);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav-bar .sidebarOpen{
    color: var(--blue);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}
nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--dark);
    text-decoration: none;
}
.nav_success_btn{
    background-image: linear-gradient(-225deg, var(--blue) 0%, var(--blue) 29%, var(--orange) 67%, var(--orange) 100%);
    background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textanim 2s linear infinite;
  display: inline-block;
}
@keyframes textanim {
    to {
        background-position: 200% center;
    }
}
.menu .logo-toggle{
    display: none;
}
.nav-bar .nav-links{
    display: flex;
    align-items: center;
}
.nav-bar .nav-links li{
    margin: 0 0px 0px 15px;
    list-style: none;
}
.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--blue);
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.6s;
}
.nav-links li a.active{
    color: var(--orange);
}
.nav-links li a:hover{
    color: var(--orange);
}
.nav-links li .admit_btn{
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	color:  var(--white);
	background:  var(--blue);
	text-align: center;
	padding: 10px 19px;
	cursor: pointer;
	border-radius: 10px;
	transition: all 0.6s;
    overflow: hidden;
    position: relative;
    display: block;
    z-index: 1;
}
.nav-links li .admit_btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    transform: rotate(45deg);
    background: var(--white);
    transition: all 0.3s;
    box-shadow: 0px 0px 10px var(--white),
    			0px 0px 20px var(--white),
    			0px 0px 10px var(--white),
    			0px 0px 10px var(--white);
    z-index: -1;
    animation: btn;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.nav-links li .admit_btn:hover{
	color: var(--white);
    background-color: var(--orange);
}
.nav-links li .admit_btn:active{
	color: var(--white);
    background-color: var(--orange);
}
/*Nav-end*/
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: heroanimations;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    height: auto;
    padding-top: 80px;
    background: url('../img/bgr2.jpg');
    background-size: cover;
    background-position: center;
}
@keyframes heroanimations{
    0%{
        background: url('../img/bgr2.jpg');
        background-size: cover;
        background-position: center;
    }
    33%{
        background: url('../img/bgr3.jpg');
        background-size: cover;
        background-position: center;
    }
    66%{
        background: url('../img/bgr4.jpg');
        background-size: cover;
        background-position: center;
    }

}
.hero h1{
    font-weight: 600;
    color: var(--blue);
    font-optical-sizing: auto;
}
.hero h1 span{
    font-family: heading_bangla_font;
}
.hero .btns a{
    background: var(--blue);
    color: var(--white);
    text-decoration: none;
    padding: 12px 18px;
    display: inline-block;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.6s;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.hero .btns a:hover::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10%;
    width: 100%;
    height: 2px;
    transform: rotate(45deg);
    background: var(--white);
    transition: all 0.3s;
    box-shadow: 0px 0px 10px var(--white),
                0px 0px 20px var(--white),
                0px 0px 10px var(--white),
                0px 0px 10px var(--white);
    z-index: -1;
    animation: hero-btn;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.hero .btns a:hover{
    background-color: var(--orange);
}
.hero .btns a:active{
    background-color: var(--orange);
}
.hero .banner{
    border-radius: 10px;
    /*box-shadow: 0px 0px 10px var(--gray);*/
    position: relative;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.hero .banner img{
    border-radius: 10px;
}
.hero .banner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(0,0,0,0.3);*/
    border-radius: 10px;
}
.hero .banner a{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    color: var(--orange);
}
.hero .banner a span{
    background: var(--white);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Banner-end*/
.hero .owl-carousel .col{
    text-align: center;
    padding: 22px;
    background: var(--white);
    height: 170px;
    border-radius: 10px;
}
.hero .owl-carousel img{
    width: 60px;
    display: inline-block;
    border-radius: 50%;
}
.hero .owl-carousel a{
    color: var(--dark);
    text-decoration: none;
}
.hero .owl-carousel h6{
    margin-top: 10px;
}
.hero .courses{
    margin: 50px 0;
}
.hero .courses .owl-prev {
  position: absolute;
  left: -50px;
  top: 40%;
}
.hero .courses .owl-next {
  position: absolute;
  right:-60px;
  top: 40%;
}
.hero .courses .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
  border: 2px solid var(--blue) !important;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: var(--blue);
  transition: .4s ease-out;
}
.hero .owl-theme .owl-nav [class*="owl-"]:hover {
  border: 2px solid var(--blue) !important;
  height: 40px;
  width: 40px;
  border-color: var(--orange) !important;
  background: var(--orange);
  border-radius: 50%;
  color: var(--white) !important;
}
.hero .owl-carousel .owl-nav.disabled {
  display: block;
}
/*Hero-end*/
.Course .course-carosel .nav-item{
    font-weight: bold;
    font-size: 15px;
}
.Course .courseDepartment .nav-item button{
    color: var(--dark) !important;
    border-radius: 20px;
}
.course_detailes .accordion-body ul li{
    list-style-image: url('../img/lines.png');
    font-size: 18px;
}
.course_detailes .accordion-body{
    border: 1px solid #E4EEF7;
    border-top: none;
}
.Course .courseDepartment .slick-active button{
    color: var(--dark) !important;
}
.Course .courseDepartment .slick-current button{
    color: var(--orange) !important;
}
.Course .course_items .card img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.Course .course_items .card .img{
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.Course .course_items .card .img::before{
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    transform: skewX(-25deg);
    transition: 2s;
}
.Course .course_items .card:hover .img::before{
    position: absolute;
    top: 0;
    left: 100%;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.Course .course_items .card{
    border-radius: 10px;
    transition: 0.5s;
}
.Course .course_items .card:hover{
    box-shadow: 0px 0px 10px #aaa;
}
.Course .course_items .card:hover h5 a{
    background-size: 0% 2px, 100% 2px;
}
.Course .course_items .card h5 a{
    text-decoration: none;
    color: var(--dark);
    background-image: linear-gradient(var(--dark), var(--dark)), linear-gradient(var(--dark), var(--dark));
    background-size: 0% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s linear;
    transition: 0.5s;
}
.Course .course_items .card .mentor{
    text-decoration: none;
    color: var(--dark);
}
.Course .course_items .card .buy-btn{
    text-decoration: none;
    color: var(--white);
    background: var(--blue);
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.6s;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: block;
    font-size: 14px;
}
.Course .course_items .card .buy-btn:hover{
    background-color: var(--orange);
}
.Course .course_items .card .buy-btn:active{
    background-color: var(--orange);
}
.Course .course_items .card .buy-btn:hover::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10%;
    width: 100%;
    height: 2px;
    transform: rotate(45deg);
    background: var(--white);
    transition: all 0.3s;
    box-shadow: 0px 0px 10px var(--white),
                0px 0px 20px var(--white),
                0px 0px 10px var(--white),
                0px 0px 10px var(--white);
    z-index: -1;
    animation: hero-btn;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.Course .prevarrow{
    width: 39px;
    height: 39px;
    background: var(--blue);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    line-height: 36px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    top: 50%;
    -webkit-box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.06);
    box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.06);
    z-index: 99;
    color: var(--white);
}
.Course .nextarrow{
    width: 39px;
    height: 39px;
    background: var(--blue);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    line-height: 36px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    top: 50%;
    -webkit-box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.06);
    box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.06);
    z-index: 99;
    color: var(--white);
}
.best-selling .nextarrow{
    right: -67px;
}
.best-selling .prevarrow{
    left: -67px;
}
.slick-dots {
  bottom: -46px;
}
.slick-dots li {
    width: 10px;
  height: 10px;
  background: var(--blue);
  border-radius: 50%;
}
.slick-dots .slick-active {
  background: var(--orange) !important;
}
.courseDepartment .nextarrow{
    top: 50%;
}
.courseDepartment .prevarrow{
    top: 50%;
}
.Course .prevarrow:hover{
    background: var(--orange);
}
.Course .nextarrow:hover{
    background: var(--orange);
}
.slick-arrow{
  cursor: pointer;
}
.course_category_slider{
  overflow: hidden;
  padding: 0 50px;
}
.courseDepartment{
  overflow: hidden;
  padding: 0 60px;
}
/*Course-end*/
.mentors .card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
}
.mentors .card .mentor-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 11rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;

}
.mentors .card .mentor-bg .profile {
    object-fit: cover;
    background-color: var(--white);
    width: 8rem;
    height: 8rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
    border-radius: 50%;
    transform: translateY(50%);
    transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.mentors .card:hover .profile {
  transform: translateY(50%) scale(1.1);
}
.mentors .card h2.name {
    margin-top: 80px;
    font-size: 28px !important;
    text-align: center;
    color: var(--blue);
}
.mentors .card .title {
  color: var(--dark);
  font-size: 16px;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.mentors .card .department span{
    border: 1px solid var(--blue);
    text-align: center;
    width: auto;
    padding: 2px 10px;
    border-radius: 15px;
    font-size: 13px;
    display: inline;
    background: var(--light-blue);
}
.mentors .owl-carousel .owl-nav.disabled {
  display: block;
}
.mentors .owl-prev {
  position: absolute;
  left: -50px;
  top: 40%;
}
.mentors .owl-next {
  position: absolute;
  right:-60px;
  top: 40%;
}
.mentors .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
  border: 2px solid var(--blue) !important;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: var(--blue);
  transition: .4s ease-out;
}
.mentors .owl-theme .owl-nav [class*="owl-"]:hover {
  border: 2px solid var(--blue) !important;
  height: 40px;
  width: 40px;
  border-color: var(--orange) !important;
  background: var(--orange);
  border-radius: 50%;
  color: var(--white) !important;
}
.mentors .owl-carousel .owl-nav.disabled {
  display: block;
}
.success_story .btn-section p{
    display: flex !important;
    justify-content: center;
    display: inline-block;
}
.success_story .seeMore{
    text-decoration: none;
    color: var(--white);
    background: var(--blue);
    padding: 10px 35px;
    border-radius: 15px;
    transition: all 0.6s;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: block;
}
.success_story .seeMore:hover{
    background-color: var(--orange);
}
.success_story .seeMore:active{
    background-color: var(--orange);
}
.success_story .seeMore:hover::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10%;
    width: 100%;
    height: 2px;
    transform: rotate(45deg);
    background: var(--white);
    transition: all 0.3s;
    box-shadow: 0px 0px 10px var(--white),
                0px 0px 20px var(--white),
                0px 0px 10px var(--white),
                0px 0px 10px var(--white);
    z-index: -1;
    animation: hero-btn;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.success_story .banner{
    border-radius: 10px;
    /*box-shadow: 0px 0px 10px var(--gray);*/
    position: relative;
}
.success_story .banner img{
    border-radius: 10px;
}
.success_story .banner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(0,0,0,0.3);*/
    border-radius: 10px;
}
.success_story .banner a{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    color: var(--orange);
}
.success_story .banner a span{
    background: var(--white);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.success_story .banner a span{
    background: var(--white);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*success_story-end*/
.Reviews .review .card{
    z-index: 2;
    transition: 0.5s;
}
.Reviews .review .card .text{
    min-height: 131px;
    overflow: hidden;
}
.Reviews .review .card .card-footer img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.Reviews .review .card .card-footer{
    background: var(--white);
    padding-top: 15px !important;
    position: relative;
}
.Reviews .review .card .card-footer .video-review{
    position: absolute;
    background: var(--white);
    width: 95%;
    height: 100%;
    top: -100%;
    left: 0;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}
.Reviews .review .card .card-footer .video-review a{
    display: flex;
    justify-content: start;
    text-decoration: none;
    color: var(--blue);
    /*padding-top: 15px !important;*/
}
.Reviews .review .card .card-footer .video-review a .play{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--blue);
}
.Reviews .review .card .card-footer .video-review a p{
    margin-top: 13px;
}
.Reviews .review .card:hover .card-footer .video-review{
    top: 0;
    visibility: visible;
    opacity: 1;
}
.Reviews .owl-carousel.owl-drag .owl-item.center{
    opacity: 1;
    pointer-events: inherit;
}
.Reviews .owl-prev {
  position: absolute;
  left: -60px;
  top: 40%;
}
.Reviews .owl-next {
  position: absolute;
  right: -60px;
  top: 40%;
}
.Reviews .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
  border: 2px solid var(--blue) !important;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: var(--blue);
  transition: .4s ease-out;
}
.Reviews .owl-theme .owl-nav [class*="owl-"]:hover {
  border: 2px solid var(--blue) !important;
  height: 40px;
  width: 40px;
  border-color: var(--orange) !important;
  background: var(--orange);
  border-radius: 50%;
  color: var(--white) !important;
}
.Reviews .reviewSuccess{
    width: 100%;
    margin: 20px auto;
    columns: 3;
}
.Reviews .reviewSuccess .reviewSuccessItem{
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
}
.faq {
    background: var(--white);
}
.faq .section-title {
    margin-bottom: 54px;
}
.faq .section-title h2 {
    margin-bottom: 22px;
}
.faq .accordion .card {
    border: none;
    margin-bottom: 5px;
}
.faq .accordion .card:not(:first-of-type) .card-header:first-child {
    border-radius: 10px;
}
.faq .accordion .card .card-header {
    border: none;
    border-radius: 10px;
    padding: 0;
}
.faq .accordion .card .card-header h5 {
    padding: 0;
}
.faq .accordion .card .card-header h5 button {
    color: var(--blue);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding: 0 30px 0 70px;
    height: 80px;
    display: block;
    width: 100%;
    color: rgba(0, 0, 0, 0.8);
    text-align: left;
    background: var(--white);
    -webkit-box-shadow: 0px -50px 140px 0px rgba(69, 81, 100, 0.1);
    box-shadow: 0px -50px 140px 0px rgba(69, 81, 100, 0.1);
    border-radius: 10px 10px 0 0;
    position: relative;
}
.faq .accordion .card .card-header h5 button:after {
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    color: var(--dark);
    text-align: center;
    border: 1px solid var(--blue);
    border-radius: 50%;
    line-height: 100%;
    content: '\f067';
    font-size: 10px;
    line-height: 18px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.faq .accordion .card .card-header h5 button.collapsed {
    background: var(--white);
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.faq .accordion .card .card-header h5 button[aria-expanded="true"]:after {
    border: 1px solid var(--orange);
    content: '\f068';
    color: var(--white);
    background: var(--orange);
}
.faq .accordion .card .card-body {
    -webkit-box-shadow: 0px 15px 140px 0px rgba(69, 81, 100, 0.1);
    box-shadow: 0px 15px 140px 0px rgba(69, 81, 100, 0.1);
    border-radius: 0 0 10px 10px;
    padding-top: 0;
    margin-top: -6px;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 8px;
    color: rgba(30, 48, 86, 0.8);
    line-height: 30px;
}
footer {
  background: var(--gray);
  position: relative;
}
footer .top-footer h2{
    color: var(--blue);
}
footer .top-footer a {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: var(--dark);
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: none;
  box-shadow: 6px 6px 12px #9d9797, -6px -6px 12px var(--white)
}

footer .top-footer a:active {
  color: var(--white) !important;
  /* box-shadow: inset 4px 4px 12px var(--blue), inset -4px -4px 12px var(--blue); */
  background: var(--orange) !important;
}

footer .top-footer a:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

footer .top-footer a:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--orange);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

footer .top-footer a:hover {
  color: var(--white);
  border: none;
}

footer .top-footer a:hover:before {
  top: -35%;
  background-color: var(--orange);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

footer .top-footer .browse_course:hover:after {
  top: -45%;
  background-color: var(--orange);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
footer .top-footer .browse_course:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--orange);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

footer .top-footer .browse_course:hover {
  color: var(--white);
  border: none;
}

footer .top-footer .browse_course:hover:before {
  top: -35%;
  background-color: var(--orange);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

footer .top-footer .browse_course:hover:after {
  top: -45%;
  background-color: var(--orange);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.owl-theme .owl-dots .owl-dot span {
    background: var(--blue) !important;
}
.owl-theme .owl-dots .owl-dot.active span {
    background: var(--orange) !important;
}
.footer-mid {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 15px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: var(--dark);
    line-height: 28px;
}
.footer-social-icon span {
  color: var(--blue);
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}
.footer-social-icon a {
  color: var(--white);
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: var(--blue);
  transition: 0.5s;
}
.instagram-bg{
    background: var(--blue);
    transition: 0.5s;
}
.linkedin-bg{
  background: var(--blue);
  transition: 0.5s;
}
.youtube-bg{
  background: var(--blue);
  transition: 0.5s;
}
.facebook-bg:hover{
    background: var(--orange);
}
.instagram-bg:hover{
    background: var(--orange);
}
.linkedin-bg:hover{
    background: var(--orange);
}
.youtube-bg:hover{
    background: var(--orange);
}
.facebook-bg:active{
    background: var(--orange);
}
.instagram-bg:active{
    background: var(--orange);
}
.linkedin-bg:active{
    background: var(--orange);
}
.youtube-bg:active{
    background: var(--orange);
}
.footer-widget-heading h3 {
  color: var(--blue);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: var(--orange);
}
.footer-widget ul li {
  display: block;
  margin-bottom: 12px;
}
.footer-widget ul{
  padding-left: 0px;
}
.footer-widget ul li a:hover{
  color: var(--orange);
}
.footer-widget ul li a {
  color: var(--dark);
  /* text-transform: capitalize; */
  text-decoration: none;
  font-size: 14px;
}
.footer-widget-heading p{
    font-size: 14px;
}
footer .contact i{
    color: var(--blue);
}
.copyright-area{
  background: var(--blue);
  padding: 15px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: var(--white);
}
.copyright-text p a{
  color: var(--orange);
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: var(--orange);
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
.brands img{
    max-width: 100%;
}
.missionVision h1{
    padding-left: 0px !important;
    padding-right: 25px;
}
.missionVision h1::before{
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: auto !important;
    background: var(--orange);
}
.courses .owl-carousel .col{
    text-align: center;
    padding: 22px;
    background: var(--light-blue);
    height: 170px;
    border-radius: 10px;
}
.courses .owl-carousel img{
    width: 60px;
    display: inline-block;
    border-radius: 50%;
}
.courses .owl-carousel a{
    color: var(--dark);
    text-decoration: none;
}
.courses .owl-carousel h6{
    margin-top: 10px;
}
.courses .courses{
    margin: 50px 0;
}
.courses .owl-prev {
  position: absolute;
  left: -50px;
  top: 40%;
}
.courses .owl-next {
  position: absolute;
  right:-60px;
  top: 40%;
}
.courses .owl-theme .owl-nav [class*="owl-"]:hover {
  border: 2px solid var(--blue) !important;
  height: 40px;
  width: 40px;
  border-color: var(--orange) !important;
  background: var(--orange);
  border-radius: 50%;
  color: var(--white) !important;
}
.courses .owl-carousel .owl-nav.disabled {
  display: none;
}
.about h1{
    font-weight: 600;
    position: relative;
    padding-left: 25px;
    color: var(--blue);
}
.about .about_btn{
    background: var(--blue);
    color: var(--white);
    text-decoration: none;
    padding: 12px 18px;
    display: inline-block;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.6s;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.seminerBtn{
    background: var(--blue);
    color: var(--white);
    text-decoration: none;
    padding: 12px 18px;
    display: inline-block;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.6s;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.about .about_btn:hover::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10%;
    width: 100%;
    height: 2px;
    transform: rotate(45deg);
    background: var(--white);
    transition: all 0.3s;
    box-shadow: 0px 0px 10px var(--white),
                0px 0px 20px var(--white),
                0px 0px 10px var(--white),
                0px 0px 10px var(--white);
    z-index: -1;
    animation: hero-btn;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.about h1::before{
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--orange);
}
.workshop .wokspece_navs{
    margin-top: 13px;
}
.workshop .wokspece_img_item img{
    border-radius: 25px;
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.workshop .wokspece_navs img{
    border-radius: 15px;
    width: 100%;
    height: 70px;
    object-fit: cover;
}
.workshop .wokspece_navs_item{
    padding: 0px 3px;
}
.courses .card{
    text-align: center;
    padding: 22px;
    background: var(--light-blue);
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
}
.courses .card a{
    text-decoration: none;
    color: var(--dark);
}
.courses .card img{
    width: 60px;
    display: inline-block;
    margin-bottom: 10px;
}
.workspecePrevArrow.slick-arrow {
  position: absolute;
  top: 50%;
  left: -2%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: var(--white);
  border: 2px solid var(--blue);
  line-height: 2 !important;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--blue);
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  cursor: pointer;
  z-index: 11;
}
.workspecePrevArrow.slick-arrow:hover {
    background: var(--orange);
    border: 2px solid var(--orange);
    color: var(--white);
}
.workspecePrevArrow.slick-arrow:active {
    background: var(--orange) !important;
    border: 2px solid var(--orange) !important;
    color: var(--white) !important;
}
.workspeceNextArrow.slick-arrow {
  position: absolute;
  top: 50%;
  right: -2%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: var(--white);
  border: 2px solid var(--blue);
  line-height: 2 !important;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--blue);
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  cursor: pointer;
}
.workspeceNextArrow.slick-arrow:hover {
    background: var(--orange);
    border: 2px solid var(--orange);
    color: var(--white);
}
.workspeceNextArrow.slick-arrow:active {
    background: var(--orange) !important;
    border: 2px solid var(--orange) !important;
    color: var(--white) !important;
}
.contact .socal-card img{
    width: 60px;
    height: auto;
}
.contact .card{
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.1),
                -6px -6px 10px -1px rgba(0, 0, 0, 0.1);
    border: none;
}
.contact .card form input{
    border: 1px solid rgba(0,0,0,0.3);
}
.contact .card form select{
    border: 1px solid rgba(0,0,0,0.3);
}
.contact .card form textarea{
    border: 1px solid rgba(0,0,0,0.3);
}
.contact .card form input:focus{
    border: 1px solid var(--blue);
}
.contact .card form select:focus{
    border: 1px solid var(--blue);
}
.contact .card form textarea:focus{
    border: 1px solid var(--blue);
}
.contact .card form button{
    background-color: var(--blue) !important;
    color: var(--white);
    transition: 0.5s;
}
.contact .card form button:hover{
    background-color: var(--orange) !important;
}
.contact .card form button:focus{
    background-color: var(--orange) !important;
}
.contact .mail a{
    color: var(--blue) !important;
}
.contact .mail a:hover{
    color: var(--orange) !important;
}
.contact .small-title{
    color: var(--dark) !important;
    font-weight: 500;
}
.contact  .socal-icon a{
    color: var(--blue) !important;
    transition: 0.5s;
}
.contact  .socal-icon a:hover{
    color: var(--orange) !important;
}
.contact iframe{
    border-radius: 20px;
}
.contact form textarea{
    height: 110px !important;
    border: 1px solid var(--blue);
}
.contact form input{
    border: 1px solid var(--blue);
}
.contact form select{
    font-size: 1.1rem !important;
    border: 1px solid var(--blue);
}
#admissionForm input{
    border: 1px solid var(--blue) !important;
}
#admissionForm textarea{
    height: 110px !important;
    border: 1px solid var(--blue);
}
#admissionForm select{
    font-size: 1.1rem !important;
    border: 1px solid var(--blue);
}
#admissionForm input:focus{
    border: 1px solid var(--orange) !important;
}
#admissionForm textarea:focus{
    border: 1px solid var(--orange);
}
#admissionForm select:focus{
    border: 1px solid var(--orange);
}
#admissionForm button{
    background: var(--blue);
    color: var(--white);
    text-decoration: none;
    padding: 12px 18px;
    display: inline-block;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.6s;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
#admissionForm button:hover{
    background: var(--orange);
}
#admissionForm button:focus{
    background: var(--orange);
}
#DemoclassForm button{
    background: var(--blue);
    color: var(--white);
    text-decoration: none;
    padding: 12px 18px;
    display: inline-block;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.6s;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
#DemoclassForm button:hover{
    background: var(--orange);
}
#DemoclassForm input{
    border: 1px solid var(--blue) !important;
}
#DemoclassForm select{
    border: 1px solid var(--blue) !important;
}
#DemoclassForm textarea{
    border: 1px solid var(--blue) !important;
}
#DemoclassForm input:focus{
    border: 1px solid var(--orange) !important;
}
#DemoclassForm select:focus{
    border: 1px solid var(--orange) !important;
}
#DemoclassForm textarea:focus{
    border: 1px solid var(--orange) !important;
}
.demoClassTitle{
    color: var(--blue);
}
.admissionTitle{
    color: var(--blue);
}
#DemoclassForm button:focus{
    background: var(--orange);
}
.SeminerForm input:focus{
    border: 1px solid var(--orange) !important;
}
.SeminerForm select:focus{
    border: 1px solid var(--orange) !important;
}
.SeminerForm textarea:focus{
    border: 1px solid var(--orange) !important;
}
.SeminerForm button{
    background: var(--blue);
    color: var(--white);
    text-decoration: none;
    padding: 12px 18px;
    display: inline-block;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.6s;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.SeminerForm button:hover{
    background: var(--orange);
    color: var(--white);
}
.SeminerForm button:focus{
    background: var(--orange);
    color: var(--white);
}
.single_course_header{
    padding: 80px 0;
}
.single_course_header .banner{
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--gray);
    position: relative;
}
.single_course_header .banner img{
    border-radius: 10px;
}
.single_course_header .banner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(0,0,0,0.3);*/
    border-radius: 10px;
}
.single_course_header .banner a{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    color: var(--orange);
}
.single_course_header .banner a span{
    background: var(--white);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.single_course_header .category{
    border: 1px solid var(--blue);
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 13px;
    display: inline-block;
    background: var(--light-blue);
}
.single_course_header .admit_btn{
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color:  var(--white);
    background:  var(--blue);
    text-align: center;
    padding: 10px 19px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.6s;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-decoration: none;
    z-index: 1;
}
.single_course_header .admit_btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    transform: rotate(45deg);
    background: var(--white);
    transition: all 0.3s;
    box-shadow: 0px 0px 10px var(--white),
                0px 0px 20px var(--white),
                0px 0px 10px var(--white),
                0px 0px 10px var(--white);
    z-index: -1;
    animation: btn;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.single_course_header .admit_btn:hover{
    color: var(--white);
}
.single_course_header .course_des{
    text-align: justify;
}
.single_course_header .free_seminer{
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color:  var(--white);
    background:  var(--orange);
    text-align: center;
    padding: 10px 19px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.6s;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-decoration: none;
    z-index: 1;
}
.course_detailes .rrrrr{
    border: none;
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
    width: 100%;
    z-index: 1111;
    box-shadow: 0px 0px 20px var(--white);
}
.course_detailes .navtabs{
    border: none;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    width: 100%;
    z-index: 1111;
    box-shadow: 0px 0px 20px var(--white);
}
.course_detailes .navtabs li a{
    text-decoration: none;
    color: var(--blue);
}
.course_detailes .navtabs li a{
    background: var(--orange);
    color: var(--white);
    padding: 15px 30px;
    border-radius: 16px;
}
.course_detailes .navtabs .active{
    background: var(--blue);
    color: var(--white);
}
.course_detailes .content .top{
    padding-top: 3.2rem;
}
.course_detailes .content h2{
    color: var(--blue);
}
.content #Course_Details .card ul.learning{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: .3em;
}
.content #Course_Details .card ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: .3em;
}
.content #Course_Details .card{
    padding: 30px;
    margin-top: 10px;
    display: inline-block;
    width: 722px;
    border-radius: 16px;
    background: var(--light-blue);
    border: none;
}
.content #Course_Details .card ul li{
    color: var(--dark);
    font-size: 18px;
    list-style: none;
}
.content .demo-carosel img{
    max-width: 100% !important;
}
.content .demo-carosel{
    height: 500px;
    overflow:auto;
}
.content .demo-carosel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
  border: 2px solid var(--blue) !important;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: var(--blue);
  transition: .4s ease-out;
}
.content .demo-carosel .owl-nav [class*="owl-"]:hover {
  border: 2px solid var(--blue) !important;
  height: 40px;
  width: 40px;
  border-color: var(--orange) !important;
  background: var(--orange) !important;
  border-radius: 50%;
  color: var(--white) !important;
}
.content .demo-carosel .owl-nav.disabled {
  display: block;
}
.content #demo-carosel{
    padding: 15px !important;
}
.content .creative_project{
    width: 60%;
    margin: auto;
}
#Modules .accordion{
    width: 722px;
    margin: auto;
}
#Modules .accordion-item{
    border: none;
    padding-bottom: 2px;
}
#Modules .accordion-header button{
    background: var(--light-blue);
    padding: 20px;
}
#Instructor .card{
    width: 722px;
    margin: auto;
    background: var(--light-blue);
}
#Instructor .card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.faq_single_course .accordion{
    width: 722px;
    margin: auto;
}
.faq_single_course .accordion .card .card-header h5 button{
    padding: 0 70px 0 30px;
}
.faq_single_course .accordion .card .card-header h5 button::after{
    right: 30px !important;
    left: auto;
}
.seminer .card h5 a{
    text-decoration: none;
    color: var(--dark);
}
.seminer .card .join-btn{
    text-decoration: none;
    color: var(--white);
    background: var(--blue);
    padding: 10px 30px;
    border-radius: 20px;
    transition: all 0.6s;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.seminer .card .join-btn:hover{
    color: var(--white);
    background: var(--orange);
}
.seminer .card .join-btn:focus{
    color: var(--white);
    background: var(--orange);
}
.seminer .card .join-btn:hover::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10%;
    width: 100%;
    height: 2px;
    transform: rotate(45deg);
    background: var(--white);
    transition: all 0.3s;
    box-shadow: 0px 0px 10px var(--white),
                0px 0px 20px var(--white),
                0px 0px 10px var(--white),
                0px 0px 10px var(--white);
    z-index: -1;
    animation: hero-btn;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.career-process .card{
    padding: 20px;
    border: none;
}
.career-process .col-md-6:nth-child(even) .card{
  background-color: var(--light-blue);
}
.career-process .col-md-6:nth-child(odd) .card{
  background-color: var(--light-orange);
}
.career_from form textarea {
  height: 110px !important;
}
.career_from form input[type="submit"] {
  background: var(--blue);
  color: var(--white);
  text-decoration: none;
  padding: 12px 18px;
  display: inline-block;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.6s;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

@keyframes btn {
  from {left: -100%;}
  to {left: 100%;}
}
@keyframes hero-btn {
  from {left: -100%;}
  to {left: 100%;}
}
@keyframes floating{0%,to{transform:translate(0,0)}65%{transform:translate(0,15px)}}
#popupadvirtise .btn-close{
    position: absolute;
    top: 6px;
    right: 10px;
}
.top_advirtised{
    position: relative;
}
.top_advirtised button{
    position: absolute;
    top: 5px;
    right: 5px;
}
.single-seminer img{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.single-seminer .card{
    border: none;
    box-shadow: 0px 0px 10px #ddd;
}
.single-seminer .form-card{
    padding-top: 35px !important;
    padding-bottom: 35px !important;
}
@media (max-width: 991px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }
    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--white);
        z-index: 100;
        transition: all 0.4s ease;
    }
    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 10px;
    }
    nav .nav-bar{
	    max-width: 100%;
	}
	.logo a img{
	    width: 160px;
	}
	.menu .logo-toggle a img{
		width: 170px;
	}
    .lead{
        font-size: 1rem;
    }
    .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
      display: none;
    }
    .hero .owl-carousel .owl-nav.disabled {
      display: none;
    }
    .mentors .owl-carousel .owl-nav.disabled {
      display: none;
    }
    .Course .owl-carousel .owl-nav.disabled {
      display: block;
    }
    .Reviews .owl-prev {
      position: absolute;
      left: 18%;
      top: 40%;
    }
    .Reviews .owl-next {
      position: absolute;
      right: 18%;
      top: 40%;
    }
    .footer-widget-heading h3 {
      margin-bottom: 25px;
    }
    .copyright-area{
      padding: 10px 0;
    }
    .free_seminer{
        padding: 10px 42px !important;
    }
    .demo_class{
        padding: 10px 22px !important;
    }
    .browse_course{
        padding: 10px 52px !important;
    }
    .hero {
      padding-top: 50px;
    }
    .brands img{
        max-width: 90%;
    }
    .footer-widget-heading h3::before {
      left: 28px;
      transform: translate(-50%);
    }
    .workshop .wokspece_img{
        padding: 0 7px;
    }
    .contact .socal-card{
        padding: 30px 55px 15px 55px;
    }
    .contact .contact-card{
        padding: 30px 20px;
    }
    .single_course_header{
        padding: 40px 0 20px 0;
        background: url('../img/bgr3.jpg');
        background-size: cover;
    }
    .Reviews .reviewSuccess{
        columns: 2;
    }
}
@media screen and (max-width: 768px){
    .content #Course_Details .card{
        width: 100%;
        padding: 15px;
    }
    #Modules .accordion {
      width: 100%;
    }
    #Instructor .card{
        width: 100%;
    }
    .content .creative_project{
        width: 100%;
    }
    .faq_single_course .accordion{
        width: 100%;
    }
    .faq_single_course .accordion .card .card-header h5 button{
        padding: 0 70px 0 10px;
    }
    #Instructor .card img {
      width: 80px;
      height: 80px;
    }
    #Course_Details h2{
        font-size: 22px !important;
    }
    #Modules h2{
        font-size: 22px !important;
    }
    #Instructor h2{
        font-size: 22px !important;
    }
    .faq_single_course h2{
        font-size: 22px !important;
    }
    .course_detailes .content .top{
        padding-top: 3.7rem;
    }
    .Reviews .reviewSuccess{
        columns: 2;
    }
    .workshop .wokspece_img_item img{
        height: 250px;
    }
}
@media screen and (max-width: 575px){
    .course_detailes .navtabs li a {
      padding: 8px 10px;
      font-size: 13px;
    }
    .content #Course_Details .card ul{
        display: block;
    }
    .single_course_header .btns a{
        font-size: 14px;
        display: block;
    }
    .Course .owl-carousel .owl-nav .owl-next{
        position: absolute;
        right: -10px;
        top: -8%;
    }
    .Course .owl-carousel .owl-nav .owl-prev{
        position: absolute;
        left: -10px;
        top: -8%;
    }
    .Reviews .reviewSuccess{
        columns: 1;
    }
    .content #Course_Details .card ul.learning{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: .3em;
    }
    .content .demo-carosel{
        height: 300px;
        overflow:auto;
    }
    .footer-widget ul li a{
        font-size: 12px;
    }
    .hero h1{
        font-weight: 500;
    }
}
@media screen and (max-width: 400px){
    .course_detailes .navtabs li a {
      font-size: 11px;
    }
    .hero .btns a {
        padding: 12px 10px;
    }
}
@media screen and (max-width: 360px){
    .course_detailes .navtabs li a {
      font-size: 9px;
    }
}
#seminar{
    width: 50%;
}
@media screen and (max-width:767px) {
    #seminar{
        width: 100%;
    }
}
